<a href="https://colab.research.google.com/github/warigiasue89/Refresher/blob/master/Refresher.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
learning = list(['orange','pineapple','mango'])
learning

['orange', 'pineapple', 'mango']

In [ ]:
iteration = 2
for i in learning:
  iteration +=2
  print('iteration number:', iteration)
  print (i)
print ('is not in the for loop')

iteration number: 4
orange
iteration number: 6
pineapple
iteration number: 8
mango
is not in the for loop

In [ ]:
for fruits in learning:
  print (fruits)

orange
pineapple
mango

In [ ]:
countries= ['Crotia', 'USA', 'Argentina', 'France', 'Brazil', 'Japan','Vietnam']
countries

['Crotia', 'USA', 'Argentina', 'France', 'Brazil', 'Japan', 'Vietnam']

In [ ]:
for index in range(len(countries)):
  print(index)
  print(countries[index])

0
Crotia
1
USA
2
Argentina
3
France
4
Brazil
5
Japan
6
Vietnam

In [ ]:
countries= ['Crotia', 'USA', 'Argentina', 'France', 'Brazil', 'Japan','Vietnam']
cities = ['Zagreb', 'District of Columbia', 'Buenos Aires', 'Paris', 'Rio de Janeiro', 'Tokyo', 'Hanoi']

In [ ]:
for index in range(len(countries)):
  print(cities[index],",", countries[index])

Zagreb , Crotia
District of Columbia , USA
Buenos Aires , Argentina
Paris , France
Rio de Janeiro , Brazil
Tokyo , Japan
Hanoi , Vietnam

In [ ]:
# for index in range(8):
#    print(cities[index],",", countries[index])

Zagreb , Crotia
District of Columbia , USA
Buenos Aires , Argentina
Paris , France
Rio de Janeiro , Brazil
Tokyo , Japan
Hanoi , Vietnam

IndexError: list index out of range

In [ ]:
range(len(countries))

range(0, 7)

In [ ]:
list (range(len(countries)))

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
for index in list(range(len(countries))):
  print(cities[index],",",countries[index])

Zagreb , Crotia
District of Columbia , USA
Buenos Aires , Argentina
Paris , France
Rio de Janeiro , Brazil
Tokyo , Japan
Hanoi , Vietnam

In [ ]:
countries.append ('Kenya')
cities.append ('Nairobi')
for index in list(range(len(countries))):
  print(cities[index],",",countries[index])

Zagreb , Crotia
District of Columbia , USA
Buenos Aires , Argentina
Paris , France
Rio de Janeiro , Brazil
Tokyo , Japan
Hanoi , Vietnam
Nairobi , Kenya

In [ ]:
countries.reverse()

In [ ]:
countries

['Kenya', 'Vietnam', 'Japan', 'Brazil', 'France', 'Argentina', 'USA', 'Crotia']

In [ ]:
different_elements = ['Susan', ['shopping', 10, 'Saturday'],{'This is the key': '10'}]
different_elements

['Susan', ['shopping', 10, 'Saturday'], {'This is the key': '10'}]

In [ ]:
for element in different_elements:
  print(element)

Susan
['shopping', 10, 'Saturday']
{'This is the key': '10'}

In [ ]:
example_of_dictionary = {'first_name': 'mia', 'last_name':'Kebaso','age':27}
example_of_dictionary

{'first_name': 'mia', 'last_name': 'Kebaso', 'age': 27}

In [ ]:
example_of_dictionary.items()

dict_items([('first_name', 'mia'), ('last_name', 'Kebaso'), ('age', 27)])

In [ ]:
example_of_dictionary.keys()

dict_keys(['first_name', 'last_name', 'age'])

In [ ]:
example_of_dictionary.values()

dict_values(['mia', 'Kebaso', 27])

In [ ]:
for key, value in example_of_dictionary.items():
  print('this is the key:',key)
  print('this is the value:', value,'\n')

this is the key: first_name
this is the value: mia

this is the key: last_name
this is the value: Kebaso

this is the key: age
this is the value: 27

In [ ]:
# last_name =''
# first_name = ''
for key,value in example_of_dictionary.items():
  if key == 'first_name':
    first_name = value.upper()
  if key == 'last_name':
    last_name = value.lower()
print(first_name, last_name)

MIA kebaso

WHILE LOOPS

How to continue and break the loop

In [17]:
water_cans = 10
cans_carried= 0

for water_can in range(water_cans):
  print('We have carried')
  cans_carried +=1
  print(f'{cans_carried} can')
  # print(cans_carried)
  # print(cans_carried,'cans so far')

We have carried
1 can
We have carried
2 can
We have carried
3 can
We have carried
4 can
We have carried
5 can
We have carried
6 can
We have carried
7 can
We have carried
8 can
We have carried
9 can
We have carried
10 can

FUNCTIONS

In [1]:
def greet_people():
  print('Habari')

In [2]:
greet_people()

Habari

In [4]:
def calc (a,b):
  return(a*b)

In [5]:
calc(2,5)

10

In [6]:
new_interns = ['Kelly', 'Fiona' , 'Susan']

In [7]:
# def greet_people(name):
#   print('Habari', name)

In [15]:
# Defining a  function
def greet_people():
  welcome_message= []
  for name in new_interns:
    welcome_message.append('Habari' ' ' + name)
  return welcome_message

In [17]:
#Executing the function
greet_people()

['Habari Kelly', 'Habari Fiona', 'Habari Susan']